.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

body {
  font-family: 'Halyard Text', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: #1B1B1B;
}

strong {
  font-weight: 500;
}

h1 {
  font-family: 'Halyard Display', sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-weight: 300;
  font-size: .875rem;
  line-height: 1.25rem;
}

.menu{
  font-weight: 300;
}